$header-height: 100px;

$font-size-lg: 16px;
$font-size-md: 16px;
$font-size-sm: 15px;
$font-size-xs: 14px;

$font-size: 14px;

$color-primary: #CEB16C;
$color-secondary: #022656;
$color-black: #000;
$color-dark-grey: grey;
$color-grey: #afafaf;
$color-white: #FFF;
$color-danger: red;

$color-shadow-primary: #5dbbc3;

$bg-color: #f6f6f6;
$bg-primary: #cfb16e;
$bg-light-grey: #f3f3f3;
$bg-grey: #afafaf;
$bg-secondary: #022656;

$bg-primary-transparent: rgb(207, 177, 110, .2);
$bg-primary-transparent-ltr: rgb(207, 177, 110, .1);
$bg-primary-transparent-dkr: rgb(207, 177, 110, .3);

$border-grey: #d9d9d9;
$border-light-grey: #f0f0f0;
$border-form: solid 1px rgba(0, 0, 0, 0.15);
$border-tabs: #e1eaeb;

$nav-menu-active-color: #fff500;
// $nav-menu-active-color-rgb: #fff500;

$border-radius: 6px;
$border-radius-lg: 8px;
$border-radius-sm: 4px;

$header-height: 86px;
$sidebar-width: 260px;

$internal-autofill-selected: rgba(58,175,185, 0.2);

$form-height: 40px;
$form-height-lg: 50px;
$form-height-sm: 30px;
$form-item-height: 95px;