.ant-input {
  border-radius: $border-radius;
  height: $form-height;
}

.ant-input-lg {
  border-radius: $border-radius-lg;
  height: $form-height-lg;
}

.ant-input-sm {
  border-radius: $border-radius-sm;
  height: $form-height-sm;
}

.ant-input-affix-wrapper {
  border-radius: $border-radius;
  padding-top: 0;
  padding-bottom: 0;
}

@media (max-width: 720px) {
  .ant-input-lg {
    border-radius: $border-radius;
    height: $form-height;
  }
}

