.ant-select {
  &-selector {
    height: $form-height !important;
    border-radius: $border-radius !important;
  }
  // this inside selector
  &-selection-search {
    input {
      @include adjust-input-wrap;
    }
  }
}

.ant-select-lg {
  border-radius: $border-radius-lg;
  height: $form-height-lg;
}  

.ant-select-sm {
  border-radius: $border-radius-sm;
  height: $form-height-sm;
}  

.ant-select-single 
.ant-select-selector 
.ant-select-selection-item, 
.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
  line-height: $form-height;
}

@media (max-width: 720px) {
  .ant-select-lg {
    border-radius: $border-radius;
    height: $form-height;
  }
}

